*{
	border: 0px;
	padding: 0px;
	margin: 0px;
	
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}
body{
	font-family: "microsoft yahei";
	background-color: rgb(55, 55, 55);
}
a{
	text-decoration: none;
}
ul, ul li{
	list-style-type: none;
}
.btn{
	background-color: rgb(90, 152, 222);
}
.btn:hover{
	background-color: rgb(83, 139, 203);
}

/*headder start*/
header{
	width: 100%;
	display: table;
	padding: 0px 15px;
	background-color: rgb(34,34,34);
}
header h1{
	font-size: 18px;
	line-height: 40px;
	display: table;
	float: left;
	color: rgb(255, 255, 255);
}
header a{
	display: table;
	height: 100%;
	float: right;
	line-height: 40px;
	color: rgb(255, 255, 255);
	padding: 0 10px;
}
header a:active{
	background-color: rgb(77,129,185);
}
/*headder end*/

/*content_container start*/
.content_container{
	width: 100%;
	position: relative;
}
/*menu start*/
.menu{
	width: 200px;
	height: 100%;
	float: left;
	background-color: rgb(51,51,51);
}
.menu dl dt{
	width: 100%;
	color: #fff;
    border-bottom: 1px solid #222;
	line-height: 35px;
    padding-left: 15px;
    cursor: pointer;
    background-color: #333;
	position: relative;
    z-index: 1;
}
.menu dl dt::after{
	content: "";
	display: inline-block;
	width: 8px;
	height: 8px;
	border-right:1px solid rgb(255, 255, 255);
	border-bottom:1px solid rgb(255, 255, 255);
	float: right;
	margin-top: 10px;
    margin-right: 10px;
	transform:rotate(45deg);
	-webkit-transform:rotate(45deg);
}
.menu dl dd{
	height: 0px;
	position: relative;
    z-index: -1;
}
.menu dl dd ul li{
	line-height: 32px;
    padding-left: 26px;
	color: #fff;
	cursor: pointer;
}
.menu dl dd ul{
	padding: 0 15px;
}
.menu dl dd ul li:hover{
	background-color: #777;
}
.menu dl.active dt::after{
	transform:rotate(225deg);
	-webkit-transform:rotate(225deg);
}
.menu dl.active dd{
	z-index: 0;
}
.menu dl dt::after,
.menu dl dd{
	transition-duration:0.15s;
	-webkit-transition-duration:0.15s;
	transition-timing-function:ease-in-out;
	-webkit-transition-timing-function:ease-in-out;
	transition-property:height,z-index,transform;
	-webkit-transition-property:height,z-index,transform;
}
/*menu end*/

/*slidePannel、foodPannel start*/
.slidePannel,
.foodPannel,
.topicPanel,
.orderPanel,
.userPanel{
	height: 100%;
	margin-left: 200px;
	background-color: rgba(55, 55, 55, 1);
	padding: 20px;
}
.slidePannel,
.addSlide,
.topicPanel,
.foodList,
.topicList,
.orderPanel,
.orderList,
.userPanel,
.userList{
	display: none;
}
/*.foodPannel{
	display: none;
}*/
.addSlide::before,
.addFood::before {
    content: "";
    display: inline-block;
    position: absolute;
    left: 30%;
    color: red;
}
.addSlide h2,
.addFood h2{
    color: #e4e4e4;
    font-size: 18px;
    line-height: 40px;
}
.addSlide label,
.addFood label{
	color: #e4e4e4;
    padding: 0 20px 0 15px;
    float: left;
    display: block;
    width: 150px;
    line-height: 35px;
}
.preview{
    height: 100px;
    overflow: hidden;
    outline: 1px solid rgb(255, 255, 255);
    position: relative;
    background-size: 100% auto;
    margin-top: 4px;
}
.addSlide .preview{
	width: 333.333333px;
}
.addFood .preview{
	width: 100px;
}
.preview input[type="file"]{
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0;
}
.preview::before,
.preview::after{
	content: "";
    display: block;
    width: 40px;
    height: 1px;
    position: absolute;
    left: 50%;
    background-color: #d7d7d7;
    margin-left: -20px;
    top: 50%;
    margin-top: -0.5px;
}
.preview::after{
	transform:rotate(90deg);
	-webkit-transform:rotate(90deg);
}
.slidePannel input[type="text"],
.foodPannel select,
.foodPannel input[type="text"],
.foodPannel input[type="number"]{
	width: 50%;
	height: 35px;
	display: block;
	background-color: rgba(255, 255, 255, 0.8);
	padding-left: 5px;
	color: rgb(31, 31, 31);
	margin: 2px 0px;
}
.slidePannel a[id="addSlideBtn"],
.foodPannel a[id="addFoodSubmitBtn"],
.foodPannel a[id="addShicaiSubmitBtn"],
.foodPannel a[id="addShipuSubmitBtn"],
.foodPannel a[id="addOtherSubmitBtn"]{
	display: block;
    width: 80px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    color: #fff;
	margin-left: 150px;
}
.foodPannel a[id="addShicaiSubmitBtn"],
.foodPannel a[id="addShipuSubmitBtn"],
.foodPannel a[id="addOtherSubmitBtn"]{
	margin-top: 2px;
}
.address select{
	width: 16.5%;
    float: left;
    margin-right: 3px;
}
.addFood #addFood_detailAddress{
	margin-left: 150px;
}
.addShicaiContainer,
.addShipuContainer,
.addOther{
	display: none;
}
/*slidePannel、.foodPannel end*/

.editor{
	display: block;
    margin-left: 150px;
}
/*content_container end*/

/*slideList start*/
.slideList td img{
	width: 120px;
    height: auto;
}
table{
	width: 100%;
    border-collapse: collapse;
    text-align: center;
}
thead{
	background-color: rgba(255, 255, 255, 0.2);
    color: rgba(255, 255, 255, 1);
    line-height: 32px;
}
th{
    font-weight: 400;
    width: 40px; /*设成这样，反而不换行，但是实际大小并不是这个值*/
}
tbody{
	color: rgba(255, 255, 255, 1);
}
tbody tr{
	border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
tbody tr:hover{
	background-color: rgba(255, 255, 255, 0.05);
}
tbody a{
	color: #5a98de;
}
tbody a:hover{
	text-decoration: underline;
}
.btn_type_1{
	background-color: rgb(0, 188, 212);
}
.btn_type_2{
	background-color: #F44336;
}
.btn_type_3{
	background-color:#FF9800
}
.btn_type_1,
.btn_type_2,
.btn_type_3{
    color: rgba(255, 255, 255, 0.75);
    padding: 1px 7px 3px;
    border-radius: 3px;
}
.btn_type_1:hover,
.btn_type_2:hover,
.btn_type_3:hover{
	color: rgba(255, 255, 255, 1);
	text-decoration: none;
}
.urlLink ,
tbody td input{
    background-color: rgba(0, 0, 0, 0) !important;
    display: table;
    margin: 0 auto !important;
    color: rgba(255, 255,255,1) !important;
    text-align: center;
}
/*slideList end*/

/*foodList start*/
.foodImg{
	width: 50px;
	height: auto;
}
/*foodList end*/

/*消息确认框 start*/
.popup{
	position: fixed;
	top: 0px;
	left:0px;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
}
.confirm_body,
.stateBody{
	width: 240px;
	display: table;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -150px;
    background-color: rgba(255, 255,255, 1);
    border-radius: 6px;
    animation:fadeIn 0.3s ease-in-out ;
}
.confirm_body h1,
.stateBody h1{
	text-align: center;
    line-height: 54px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    font-weight: 400;
    font-size: 18px;
}
.comfirm_btn,
.btn_container{
	width: 100%;
	height: 32px;
}
.comfirm_btn a,
.btn_container a{
	display: block;
    float: left;
    width: 50%;
    height: 100%;
    text-align: center;
    line-height: 32px;
    border-right: 1px solid rgba(255, 255, 255, 0.5);
}
.comfirm_btn a:last-of-type,
.btn_container a:last-of-type{
	border-right: none;
}
/*消息确认框 end*/

/*社区话题 start*/
.topicList tbody tr td{
	font-size: 12px;
    overflow: hidden;
    height: 50px;
}
/*修改订单状态 start*/
.stateBody{
	width: 400px;
	margin-left: -200px;
}
.stateBody label{
	height: 50px;
    line-height: 50px;
    display: inline-block;
    width: 33.3333333%;
    text-align: center;
}
.stateBody label input[type='radio']{
	width: 20px;
    height: 20px;
    vertical-align: -4px;
}
/*修改订单状态 end*/
/*社区话题 end*/

/*订单管理 start*/
.orderList thead tr th{
	width: 100px;
}
/*订单管理 end*/

/*用户管理 start*/
.userList thead tr th{
	width: 0px;
}
.userList tbody tr td img{
	width: 40px;
	height: auto;
}
.userList tbody tr td input{
    height: 32px;
    width: 85px;
}
.userList tbody tr td select,
.userList tbody tr td select option{
    height: 32px;
    background-color: rgba(0, 0, 0, 0);
    color: rgba(255, 255, 255, 1);
}
.userList tbody tr td select option{
	color: rgba(0, 0, 0, 1) !important;
    background-color: transparent;
}
input[type='number']::-webkit-inner-spin-button {
	display: none;
}
.userList .save_btn{
	display: none;
}
.changePhoto{
	position: relative;
    display: inline-block;
    cursor: pointer;
}
.changePhoto:hover a{
	color: rgb(255, 255, 255, 1);
}
.changePhoto input[type='file']{
	position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;
}
/*用户管理 end*/

@keyframes fadeIn{
	0%{
		transform:scale(0);
	}
	100%{
		transform:scale(1);
	}
}