.articleList{
	width: 100%;
	min-height: 400px;
	overflow: hidden;
}
.articleList ul{
	display: block;
    height: 100%;
    width: 100%;
    overflow: auto;
}
.articleList ul li{
	display: block;
    width: 100%;
    padding: 10px 12px;
    background-color: rgb(255, 255, 255);
    margin-bottom: 10px;
}
.articleList ul li:last-of-type{
	margin-bottom: 0px;
}
.user_icon{
	width: 20px;
	height: 20px;
	border-radius: 50%;
	overflow: hidden;
	display: inline-block;
}
.user_icon img{
	width: 100%;
	height: auto;
}
.from{
	display: inline-block;
	font-size: 12px;
	vertical-align: 6px;
}
.articleList ul li h1{
	font-size: 18px;
	color: rgba(0, 0, 0, 1);
	font-weight: 400;
}
.desc{
	font-size: 14px;
    max-height: 65px;
    overflow: hidden;
    color: rgba(100, 100, 100, 1);
}
.data_analysis{
	font-size: 12px;
	color: rgba(135, 135, 135, 1);
}

/*发表按钮 start*/
.publish{
	position: fixed;
	right: 12px;
    bottom: 70px;
    display: block;
    width: 50px;
    height: 50px;
    text-align: center;
    background-color: rgba(253, 220, 140, 1);
    line-height: 50px;
    border-radius: 50%;
}
.icon_publish{
	fill: rgba(255, 100, 100, 1);
    width: 30px;
    height: 30px;
    vertical-align: -7px;
}
/*发表按钮 end*/

/*话题详情 start*/
.topic_detail,
.publish_topic{
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 1);
	top: 0px;
	left: 0px;
	z-index: 11;
	display: none;
}
.topic_detail header,
.publish_topic header{
	height: 30px;
	width: 100%;
	padding:0px 12px;
}
.topic_detail header .icon,
.publish_topic header .icon{
	fill: rgba(255, 100, 100, 1);
	vertical-align: -9px;
}
.main .user_icon{
	width: 40px;
	height: 40px;
}
.author,
.publish_date{
	vertical-align: 14px;
	font-weight: 300;
	font-size: 16px;
}
.publish_date{
	margin-top: 11px;
}
.float_left{
	float: left;
}
.float_right{
	float: right;
	margin-left: 10px;
}
.main{
	width: 100%;
	min-height: 400px;
	overflow: auto;
	padding: 0px 12px 50px;
}
.main h1{
	color: rgba(255, 100, 100, 1);
    font-size: 18px;
    text-align: center;
    line-height: 50px;
    font-weight: 400;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    box-shadow: 0px 6px 10px -6px rgba(0, 0, 0, 0.1);
}
.content{
	padding: 40px 0px;
	color: rgb(143, 143, 148);
	font-weight: 300;
	line-height: 1.6;
}
/*留言评论 start*/
.topic_detail{
	/*display: block;*/
}
.comment,
.input_container{
	width: 100%;
	display: table;
}
.input_container textarea{
	width: 100%;
    min-height: 100px;
    font-size: 14px;
    color: rgba(135, 125, 135, 1);
    padding: 5px;
}
.input_container a{
	float: right;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(255, 100, 100, 1);
    padding: 8px 15px;
    border-radius: 3px;
}
.comment_list ul li{
	border-bottom: 1px solid rgba(0, 0, 0, 0.05);
	padding: 8px 0px;
}
.comment_list ul li h4{
    display: inline-block;
    vertical-align: 14px;
    font-weight: 300;
}
.comment_list ul li span{
	font-size: 11px;
    color: rgba(135, 135, 135, 1);
}
/*留言评论 end*/
/*话题详情 end*/

/*发布话题 start*/
.classify{
	width: 100%;
	display: table;
	padding: 0px 12px;
	position: relative;
}
.classify ul{
	display: table;
    margin: 0 auto;
	margin-bottom: 15px;
}
.classify ul li{
	display: inline-block;
    width: 50px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    color: rgba(135, 135, 135, 1);
    border: 1px solid rgba(135, 135, 135, 1);
    font-size: 14px;
    border-radius: 3px;
    margin-right: 15px;
}
.classify ul li.selected{
	background-color: rgba(255, 100, 100, 1);
	color: rgba(255, 255, 255, 1);
	border-color: rgba(255, 100, 100, 1);
}
.classify input{
	margin-bottom: 0px;
}
.classify input,
.publish_title input,
.publish_content textarea{
	font-size: 14px;
	color: rgba(135, 135, 135, 1);
}
.publish_title{
	height: 40px;
}
.publish_content{
    height: 50%;
}
.publish_content textarea{
	display: block;
	width: 100%;
	height: 100%;
}
.publish_title,
.publish_content{
	position: relative;
	width: 100%;
    padding: 0px 12px;
    margin-top: 20px;
}
.classify label,
.publish_title label,
.publish_content label{
    position: absolute;
    left: 50%;
    margin-left: -22px;
    margin-top: -10.5px;
    font-size: 14px;
    background-color: rgba(255, 100, 100, 1);
    padding: 0px 8px;
    border-radius: 12px;
    color: rgba(255, 255, 255, 1);
}
.classify label{
	 margin-left: -36px;
}
.publish_btn{
	display: block;
	width: 60%;
	height: 40px;
	margin: 0 auto;
	text-align: center;
	line-height: 40px;
	background-color: rgba(255, 100, 100, 1);
	font-size: 16px;
	color: rgba(255, 255, 255, 1);
	border-radius: 3px;
	margin-top: 20px;
}
/*发布话题 end*/