*{
	border: 0px;
	padding: 0px;
	margin: 0px;
	
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}
body{
	font-family: "microsoft yahei";
	background-color: rgba(255, 255, 255, 1);
}
.main{
	width: 100%;
	display: table;
	padding: 20px  12px;
}
.content{
	width: 100%;
	display: table;
	margin: 0 auto;
}
.content h3{
	font-size: 18px;
	color: rgba(135, 135, 135, 1);
	text-align: center;
	line-height: 60px;
}
.login_row{
	width: 100%;
	position: relative;
	border: 1px solid rgba(0, 0, 0 , 0.05);
	height: 40px;
	margin-bottom: 20px;
    border-radius: 3px;
}
.login_row label{
	position: absolute;
	top: 50%;
	left: 5px;
	margin-top: -9.5px;
	font-size: 14px;
	color: rgba(135, 135, 135, 1);
	transition:all 0.3s ease-out;
	-webkit-transition:all 0.3s ease-out;
}
.login_row input{
	display: block;
	width: 100%;
	height: 100%;
	background-color: transparent;
	outline: none;
	padding: 0px 3px;
	font-size: 16px;
}
.submit{
	display: block;
	width: 100%;
	height: 40px;
	line-height: 40px;
	background-color: rgb(15, 136, 235);
	text-decoration: none;
	color: rgba(255, 255, 255, 1);
	text-align: center;
    text-transform: uppercase;
    border-radius: 3px;
}
.changePanel{
	text-decoration: underline;
    margin-top: 20px;
    display: inline-block;
    color: rgb(153, 153, 153);
}